.r3{
    margin-top: 100px;
}
.net-title{
    font-size: 2rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.r3 .col1 a,
.r3 .col2 a{
    border-radius: 5px;
    border: 2px solid #003297;
    background-color: #2285e7;
    padding: 10px 25px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    text-decoration: none;
}
.r3 .col1 a:hover,
.r3 .col2 a:hover{
    color: #fff;
    text-decoration: underline;
}
.r3 .col1 a:focus,
.r3 .col2 a:focus,
.r3 .col1 a:active,
.r3 .col2 a:active{
    color: #fff;
    text-decoration: none;
}